.home
{
    position: relative;
    z-index: 2;
    overflow: hidden; /*Pour que les blobs restent en dessous*/
}

/* blueBlob : animation */

    /* Layer global blobs */
#blob-layer
{
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

/* Style blobs */
.blob
{
    position: absolute;
    width: 300px;
    opacity: 70%;
}

/* blueBlob : animation END*/
