.home
{
    position: relative;
    z-index: 2;
    overflow: hidden; /*Pour que les blobs restent en dessous*/
}

/* blueBlob : animation */

    /* Layer global blobs */
#blob-layer
{
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

/* Style blobs */
.blob
{
    position: absolute;
    width: 300px;
    opacity: 0.35;
    filter: blur(60px);
}

/* Contenu normal */
header, nav, main, footer, section.home, .card
{
    position: relative;
    z-index: 2;        /* devant les blobs */
}
/* blueBlob : animation END*/
