/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('/public/assets/fonts/Dastin.otf') format('opentype'),
        url('/public/assets/fonts/Dastin.ttf') format('truetype'),
        url('/public/assets/fonts/Dastin.woff') format('woff'),
        url('/public/assets/fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #8ccece;
    --grisF : #8b9cb6;
    --gris : #c1c1c1;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

.titleEffect
{
    color: var(--grisF);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

html, body
{
    background-color: var(--or);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.contact
{
    min-height: 100vh;
    background-color: var(--or);
}

form
{
    background-color: var(--grisF);
    color: var(--beige);
    font-size: 1.2em;
}

textarea
{
    padding-top: 1.5rem !important;
}

textarea::placeholder
{
    color: var(--gris) !important;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0.6;
}

input::placeholder
{
    color: var(--gris) !important;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0.6;
}

label
{
    color: var(--grisF);
}

/* Media Queries */


