/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('/public/assets/fonts/Dastin.otf') format('opentype'),
        url('/public/assets/fonts/Dastin.ttf') format('truetype'),
        url('/public/assets/fonts/Dastin.woff') format('woff'),
        url('/public/assets/fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --bleu : #a2d4ed;
    --vert : #8ccece;
    --grisF : #8b9cb6;
    --gris : #c1c1c1;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --rouge : #e8505b;
    --noir : #282828;
}

/* BTN */
button, .button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--grisF);
    color: var(--beige);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
}

button:hover, .button:hover
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 576px)
{
    .button
    {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}
/* BTN END*/

section
{
    background-color: var(--or);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
}


.error
{
    min-height: 1200px;
    background-image: url(../../public/assets/img/error/404.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.error-title
{
    color: var(--rouge);
    font-size: 5rem;
}
