/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('/public/assets/fonts/Dastin.otf') format('opentype'),
        url('/public/assets/fonts/Dastin.ttf') format('truetype'),
        url('/public/assets/fonts/Dastin.woff') format('woff'),
        url('/public/assets/fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --bleu : #a2d4ed;
    --vert : #8ccece;
    --grisF : #8b9cb6;
    --gris : #c1c1c1;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.hero
{
    position: relative;
    background-color: var(--bleu);
    z-index: 99;
}

.imgHero
{
    height: 600px;
    width: auto;
}

/* Wave */
.waveWebFaq
{
  display:block;
  position: relative;
  width:100%;
  height:80px;
  top: -90px;
  z-index: 1000;
}
/* Wave END*/

.titleEffect
{
    color: var(--grisF);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.accordion
{
    position: relative;
    border-radius: 40% !important;
    z-index: 999;
}

.accordion-title
{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 600;
}

.faq
{
    padding: 200px 0;
    background-color: var(--or);
}

.contactContent
{
    padding: 200px 0;
}

section .contactUs
{
    background-color: var(--bleu);
    color: white;
    font-size: 1.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 999;
}
