/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400;700&display=swap');

@font-face
{
  font-family: 'Dastin';
  src : url('/public/assets/fonts/Dastin.otf') format('opentype'),
        url('/public/assets/fonts/Dastin.ttf') format('truetype'),
        url('/public/assets/fonts/Dastin.woff') format('woff'),
        url('/public/assets/fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --bleu : #a2d4ed;
    --vert : #8ccece;
    --grisF : #8b9cb6;
    --gris : #c1c1c1;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --rouge : #e8505b;
    --noir : #282828;
}

/* BTN */
button, .button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--grisF);
    color: var(--beige);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
}

button:hover, .button:hover
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 576px)
{
    .button
    {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}
/* BTN END*/

html, body
{
    background-color: var(--or);
    width: 100% !important;
    overflow-x: hidden;
    font-family: 'Dastin';
    min-height: 500px;
    min-width: 320px;
}

p
{
    font-size: clamp(1.1rem, 2vw + 0.5rem, 1.3rem);
    line-height: 1.4em !important;
    color: var(--noir);
}

.titleEffect
{
    color: var(--grisF);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);

}

h3
{
    color: white;
    font-size: clamp(2rem, 5vw + 1rem, 6em);
}

h4
{
    color: var(--beige);
    font-size: clamp(1rem, 2.5vw + .5rem, 1.8em);
}

h5
{
    color: white !important;
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
}

h6
{
    color: var(--grisF);
}

.fontBolded
{
    font-weight: bolder;
}

.fontWhite
{
    color: #FFFFFF;
}

.fontBeige
{
    color: var(--beige);
}

.fontBlack
{
  color: var(--noir);
}

.fontGreen
{
  color: var(--vert) !important;
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

/* Indicateur de progression */

#scroll-indicator
{
  position: fixed;
  bottom: 90px;
  left: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: conic-gradient(gray 0%, transparent 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: background 0.3s ease;
}

/* Cercle intérieur pour l'effet de "remplissage circulaire" */
.inner-circle
{
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--beige);
  border-radius: 50%;
}

.scroll-arrow
{
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: gray;
  animation: blink 1.2s infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes blink
{
  0%, 100%
  {
    opacity: 1;
    transform: translateY(0);
  }
  50%
  {
    opacity: 0.3;
    transform: translateY(3px);
  }
}
/* END */


/* Section : Home */
.home
{
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/assets/img/home/landing.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bleu);
}

.mainContent
{
    position: absolute;
}

.mainTitleHome
{
    position: relative;
    top: -160px;
    left: 250px;
    font-size: 15em !important;
    color: #ffffff;
}

.secondTitle
{
    position: relative;
    left: 35px;
    font-size: 1.8rem !important;
    color: #ffffff;
}

/* Réduction du padding sur petits écrans */
@media (max-width: 1200px)
{
    main .home
    {
        padding: 0 100px;
    }
}

@media (max-width: 992px)
{
    main .home
    {
        padding: 0 50px;
    }
}

@media (max-width: 768px)
{
    main .home
    {
        padding: 0 20px;
    }

    .home .mainTitleHome
    {
        font-size: 3rem !important;
        letter-spacing: 0.4rem;
    }

    .home .secondTitle
    {
        font-size: 1.5rem;
        display: block;
        white-space: normal; /* évite que le texte dépasse l’écran */
    }
}

@media (max-width: 480px)
{
    .home .mainTitleHome
    {
        font-size: 2.5rem !important;
    }

    .home .secondTitle
    {
        font-size: 1.2rem;
    }
}

/* Animation mainTitle */
.home .mainTitleHome
{
    font-size: clamp(2rem, 6vw + 1rem, 5rem) !important;
    letter-spacing: 1.2rem;
}

span.mainTitleHome:after
{
    content: "";
    animation: revealHome 1.5s linear 1;
    animation-fill-mode: forwards;
    font-weight: normal;
    font-family: 'Dastin' !important;
}

@keyframes revealHome
{
    0%   { content: "K"; }
    12%  { content: "KE"; }
    25%  { content: "KEN"; }
    37%  { content: "KENK"; }
    50%  { content: "KENKO"; }
    62%  { content: "KENKO-"; }
    75%  { content: "KENKO-W"; }
    87%  { content: "KENKO-WE"; }
    100% { content: "KENKO-WEB"; }
}

.home .secondTitle
{
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
    font-weight: normal;
    font-family: 'Dastin';
    display: flex;
}
/* END Home */

/* Wave */
.waveWeb
{
  display:block;
  position: relative;
  width:100%;
  height:80px;
  top: -48px;
  z-index: 30;
}
/* Wave END*/

/* Section : purposes*/
.purposes
{
    position: relative;
    padding: 200px 0;
    overflow: visible;
    z-index: 999;
}

/* Titres et textes */
.pictoBlocWeb
{
    margin-left: 2%;
}

.pictoBlocWeb h4
{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bleu);
}

.pictoBlocWeb p
{
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Images */
.pictoBlocWeb img
{
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(80%) sepia(20%) hue-rotate(160deg) brightness(0.9);
    max-width: 600px;
    margin-bottom: 1rem;
}

.pictoBlocWeb img:hover
{
    transform: scale(1.1);
    color: var(--bleu);
}

/* ------------------- */
/*     Responsive      */
/* ------------------- */
@media (max-width: 992px)
{
    .purposes
    {
        padding: 80px 0;
    }
    .pictoBlocWeb p
    {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px)
{
    .purposes
    {
        padding: 60px 0;
    }
    .pictoBlocWeb img
    {
        max-width: 350px;
    }
    .pictoBlocWeb h4
    {
        font-size: 1.5rem;
    }
    .pictoBlocWeb p
    {
        font-size: 1rem;
    }
}
/* Section : purposes END*/

/* Section : offers*/
.offers
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 200px 0;
}

.card-body
{
    position: relative;
    background-image: url(../../public/assets/img/cards/backgroundCard.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-body::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(240,240,240,0.8); /* gris clair overlay */
    pointer-events: none;
    z-index: 1;
}

.card-body > *
{
    position: relative;
    z-index: 2;
}

.card
{
    min-height: 50rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
}

  /* Pop-up */

/* Container pop-up */

.popup-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Contenu pop-up */

.popup
{
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup button
{
    height: 50px;
    width: 250px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
}

.pPopUp
{
    color: var(--vert);
}

    /* Pop-up END */
/* Section : offers END*/

/* Section : skills*/
.skills
{
    min-height: 50vh;
    background-color: var(--or);
    padding: 200px 0;
}

.skillsContent
{
    margin-left: 230px !important;
}

.skillsContent article
{
    position: relative;
    margin-left: 20px;      /* décale tout l'article vers la droite */
    margin-bottom: 1.5rem;
    z-index: 999;
}

.skillsContent p
{
    font-size: 1.5rem;
}

.blocAtouts
{
    margin-top: 10%;
}

.pictoAtouts
{
   max-height: 4em;
}

.pictoAtoutsPerso
{
    width: 140% !important;
    max-width: auto;
    z-index: 999;
}

section .atoutsContent
{
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px)
{
    .pictoAtoutsPerso
    {
        transform: translateX(50px); /* plus de décalage sur desktop */
    }

    .skillsContent article
    {
        margin-left: 30px;
    }
}
/* Section : skills END*/

/* Section : Time Line */
.timeLine
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 100px 0;
}

.timeline
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--vert);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-item
{
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd)
{
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even)
{
    left: 50%;
    text-align: left;
}

.timeline-content
{
    background: var(--vert);
    padding: 15px;
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-content h4
{
    margin-bottom: 5px;
    color: var(--beige);
    font-size: 1.6rem;
}

/* ------------------- */
/*     Responsive      */
/* ------------------- */
@media (max-width: 768px)
{

    .timeline
    {
        max-width: 100%;
        padding-left: 30px;
    }

    .timeline::after
    {
        left: 20px; /* Ligne à gauche */
        margin-left: 0;
    }

    .timeline-item
    {
        width: 100%; /* Full width */
        padding-left: 50px; /* Espace pour la ligne */
        text-align: left !important; /* Uniformise */
        left: 0 !important; /* Enlève l'alternance */
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even)
    {
        text-align: left !important;
    }

    .timeline-content
    {
        text-align: left;
        margin-bottom: 30px;
    }

    .timeline-content img
    {
        margin: 10px 0;
    }
}
/* Section : Time Line END*/

/* Section : Maintenance */
h5.underline
{
    position: relative;
    padding-bottom: 0.5rem;
}

h5.underline::after
{
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background-color: var(--rouge);
    margin: 0.5rem auto 0;
    margin-top: 1.5rem;
    margin-left: 0;

}

.maintenance
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 100px 0;
}

.boxWeb
{
    background-color: var(--bleu);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 999;
}

article li
{
    font-size: 1.2em;
}

ul li
{
    padding-left: 2rem;
    text-indent: -1.5rem;
}
/* Section : Maintenance END*/

/* Section : Hébergement */
.hosting
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 00px 0;
}

/* ------------------- */
/*     Responsive      */
/* ------------------- */

@media (max-width: 576px)
{
    .maintenance img,
    .hosting img
    {
        display: none !important;
    }
}
/* Section : Hébergement END*/

/* Section : Trust */
.trustSection
{
    min-height: 100vh;
    background-color: var(--or);
}

section .trustBox
{
    background-color: var(--vert);
    border-radius: 500px;
    margin-top: 12% !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 0px;
    z-index: 999;
}

.logo-container
{
    width: 300px; /* Ajuste la largeur du conteneur */
    height: 250px; /* Ajuste la hauteur du conteneur */
    position: relative;
}

.logo
{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo.active
{
    opacity: 1;
}
/* Section : Trust END*/
