/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('/public/assets/fonts/Dastin.otf') format('opentype'),
        url('/public/assets/fonts/Dastin.ttf') format('truetype'),
        url('/public/assets/fonts/Dastin.woff') format('woff'),
        url('/public/assets/fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --bleu : #a2d4ed;
    --vert : #8ccece;
    --grisF : #8b9cb6;
    --gris : #c1c1c1;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

/* BTN */
button, .button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--grisF);
    color: var(--beige);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
}

button:hover, .button:hover
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 576px)
{
    .button
    {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}
/* BTN END*/

/* Indicateur de progression */

#scroll-indicator
{
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: conic-gradient(gray 0%, transparent 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: background 0.3s ease;
}

/* Cercle intérieur pour l'effet de "remplissage circulaire" */
.inner-circle
{
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--beige);
  border-radius: 50%;
}

.scroll-arrow
{
  position: absolute;
  top: 20%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: gray;
  animation: blink 1.2s infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes blink
{
  0%, 100%
  {
    opacity: 1;
    transform: translateY(0);
  }
  50%
  {
    opacity: 0.3;
    transform: translateY(3px);
  }
}
/* END */

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

h3
{
    font-size: clamp(.8rem, 2.3vw + .4rem, 2.2em);
}

h4
{
    color: var(--bleu);
    font-size: clamp(1rem, 2.5vw + .5rem, 1.8em);
    font-weight: bolder;
}

.titleEffect
{
    color: var(--grisF);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.fontWhite
{
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.quiSuisJe
{
    position: relative;
    min-height: 100vh;
    padding: 200px 0;
    z-index: 999;
}

.whoIam
{
    padding: 0;
    min-height: 100% !important;
    background-size: cover;
    background-position: center;
    background-color: var(--bleu);
    position: relative; /*pour les ajustements*/
}

.whoIam img
{
    max-width: 100%;
    height: 50Vh !important;
}

/*IMG DEV*/
.whoiam-visual
{
    position: relative;
    display: inline-block;
}

.whoiam-photo
{
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px !important;
    object-fit: contain;
    border-radius: 50%;
}

@media (min-width: 768px)
{
    .whoiam-photo
    {
        width: 180px;
        height: 180px;
    }
}
/*IMG DEV END*/

.profile-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem 3rem;
    border-radius: 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    opacity: 70%;
}

.profile-card h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.profile-card p {
    font-size: 1.8rem;
    margin: 0;
    color: #cccccc;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
/* END section qui suis-je ?*/

article img
{
    height: max-content;
}

.pictoBloc
{
    padding: 100px 0;
}

.pictoBloc img
{
    transition: transform 0.3s ease, filter 0.3 ease;
    filter: grayscale(100%) brightness(0.7);
}

.pictoBloc img:hover
{
    transform: scale(1.1);
    filter: grayscale(0%) brightness(1);
}

.picto-img
{
    width: 80px;      /* largeur fixe */
    height: 80px;     /* hauteur fixe */
    object-fit: contain; /* garde les proportions */
}

@media (min-width: 768px)
{
    .picto-img
    {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1200px)
{
    .picto-img
    {
        width: 100px;
        height: 100px;
    }
}

section .boxWhoIam
{
    position: relative;
    background-color: var(--bleu);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 999 !important;
}

/* Media Queries */
@media only screen and (max-width: 768px)
{
    .whoIam
    {
        margin-top: 5%; /* Réduit la marge supérieure pour les petits écrans */
        padding: 2rem 0; /* Ajoute un peu de padding sur le dessus et le dessous */
    }
}

